# Each line is a file pattern followed by one or more owners.
* @MHILX

# You can assign owners for specific file patterns, directories, or even use wildcards.
*.js    @js-owner
*.go    mohammed.hoque@intelex.com
/docs/  mohammed.hoque@intelex.com
