# Each line is a file pattern followed by one or more owners.
* @MHILX mohammed.hoque@intelex.com

# You can assign owners for specific file patterns, directories, or even use wildcards.
*.js    @js-owner
*.go    docs@example.com
/docs/  @doctocat
